{% extends "refs/base.html" %}
{% load static pyref_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'refs/css/refs.css' %}" />
{% endblock %}

{% block extra_js %}
<script>
$(function() {
    $('.delete-ref').click(function() {
        return window.confirm("Are you sure you want to delete this reference?");
    });
});
</script>
{% endblock %}

{% block content %}

<h1>Reference List</h1>


{% for ref in page_obj %}
    <p>
    <a class="delete-ref" href="{% url "refs:delete" ref.pk %}"><img src="{% static 'refs/images/trashcan.svg' %}"/></a>
    <a href="{% url "refs:edit" ref.pk %}"><img src="{% static 'refs/images/pencil.svg' %}"/></a>
    {% ref_html ref 3 %}
   </p>
{% endfor %}

{% include "refs/pagination.html" %}

{% endblock %} 
